.searchbar {
    display: flex;
    justify-content: center;
    
}
h1, h2, h3{
    text-align: center;
    text-decoration: underline;
}
.title {
    margin: 30px;
    background-color: whitesmoke;
}
form input, button {
    margin: 2px;
}
.recipe {
    border-top: solid 2px black;
    padding: 30px;
}
.recipe h2, h4 {
    text-align: center;
}
img {
    width: 100%;
    max-width: 500px;
    border-radius: 15%;
}
body {
    background-color: slategray;
}
.container {
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
}
.form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}